<!DOCTYPE html>
<html>
<head></head>
<body>
<div>
 <form role="form" ng-controller="AddChangeController">
  <input type="hidden" ng-model="cur_controller.id"></input>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" ng-model="cur_controller.name"></input>
  </div>
  <div class="form-group">
    <label for="con">Connection-String:</label>
    <input type="text" class="form-control" id="con" ng-model="cur_controller.connectionString"></input>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="cur_controller.activ"></input>Aktiv</label>
  </div>
  <button type="submit" class="btn btn-default btn-md" ng-click ="AddChangeControllerToWS()" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{buttonACConntroller}}</button>
   <button type="button" class="btn btn-default btn-md"  ng-click ="Cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
</form>

</div>
</body>
</html>