<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div ng-controller="DeviceConfigList">

<table class="table OSS4Homemobile" ng-repeat="device in devices">
<thead class="ui-widget-header">
    <tr>
      <th>{{device.name}}</th>
      <th> </th>
    </tr>
  </thead>
<tbody class="ui-widget-content">
<tr><th style="width: 80px">Wert:</th><td>{{device.wert}}</td></tr>
</tbody>
</table>


</div>
</body>
</html>