<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div ng-controller="kimadd">
<h1>{{desc}}</h1>
<form>
  <input type="hidden" ng-model="cur_controller.id"></input>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" ng-model="cur_controller.name"></input>
  </div>
  <div class="form-group">
    <label for="val">Value:</label>
    <input type="text" class="form-control" id="val" ng-model="cur_controller.value"></input>
  </div>

  <button type="button" class="btn btn-default btn-lg" ng-click="add()">
  <span  aria-hidden="true"></span> Add
</button>

</form>





</div>

</body>
</html>