<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div ng-controller="kimlist">
<h1>{{desc}}</h1>

<table class="table OSS4Homemobile" ng-repeat="datae in kimdv">
<thead class="ui-widget-header">
    <tr>
      <th>{{datae.name}}</th>
      <th> </th>
    </tr>
  </thead>
<tbody class="ui-widget-content">
<tr><th style="width: 80px">Wert:</th><td>{{datae.value}}</td></tr>
</tbody>
</table>

<button type="button" class="btn btn-default btn-lg" ng-click="add()">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
</button>
</div>

</body>
</html>