﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div ng-controller="AddChangeMailTmp">
        <h3>{{u1}}</h3>
        <form role="form" name="form" ng-valid>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" ng-model="mail.name" maxlength="60" required></input>
            </div>
            <div class="form-group">
                <label for="name">To:</label>
                <input type="email" class="form-control" id="to" ng-model="mail.to" maxlength="255" required></input>
                
            </div>
            <div class="form-group">
                <label for="name">Subject:</label>
                <input type="text" class="form-control" id="subject" ng-model="mail.subject" maxlength="255" required></input>
            </div>
            <div class="form-group">
                <label for="name">Body:</label>
                <textarea class="form-control" id="body" ng-model="mail.body" required rows="10" maxlength="10000" ></textarea>
            </div>
            

              

            <button type="submit" class="btn btn-default btn-md" ng-click="save(form.$valid)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Save</button>
            <button type="button" class="btn btn-default btn-md" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
        </form>

    </div>
</body>
</html>