﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div ng-controller="AddChangeGroup">
        <h3>{{u1}}</h3>
        <form role="form" name="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="precision" ng-model="group.name" maxlength="60" required></input>
            </div>
            <div>

                <h3>Devices</h3>
                <div class="panel-group">
                    <div class="panel panel-default" ng-repeat="device in group.devices track by $index">
                        <div class="panel-heading">
                            <table style="width:100%">
                                <tbody class="ui-widget-content">
                                    <tr>
                                        <td>
                                            <h3 class="panel-title">

                                                {{device.name}}

                                            </h3>
                                        </td>
                                        <td style="text-align:right">
                                            <button type="button" class="btn btn-default btn-md" ng-click="delDevice($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <div class="form-group">


                <label for="DeviceSelect">Device hinzufügen:</label>
                <select name="DeviceSelect" id="DeviceSelect"
                        ng-options="option.name for option in newDevices"
                        ng-model="selectedDevice"></select>
                <button type="button" class="btn btn-default btn-lg" ng-click="addDevice()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>


            </div>
           
            <button type="submit" class="btn btn-default btn-md" ng-click="save(form.$valid)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Save</button>
            <button type="button" class="btn btn-default btn-md" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
        </form>
        
    </div>
</body>
</html>