﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div ng-controller="AddChangeAuto">
        <h3>{{u1}}</h3>
        <form role="form" name="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="precision" ng-model="auto.name" maxlength="60" required></input>
            </div>
            <div>

                <h3>Trigger</h3>
                <div class="panel-group">
                    <div class="panel panel-default" ng-repeat="trigger in auto.trigger track by $index">
                        <div class="panel-heading">
                            <table style="width:100%">
                                <tbody class="ui-widget-content">
                                    <tr>
                                        <td>
                                            <h3 class="panel-title">

                                                {{trigger.name}}

                                            </h3>
                                        </td>
                                        <td style="text-align:right">
                                            <button type="button" class="btn btn-default btn-md" ng-click="delTrigger($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="collapseTrigger" class="panel-collapse collapse in" style="padding: 10px;">
                            <div>
                                <div class="form-group">
                                    <label>Wert:</label>
                                    <div name="device" ng-show="trigger.type == 'SENSOR'">
                                        <select ng-model="trigger.relationalOperator" ng-options="option for option in sensorOperator" ng-required="trigger.type == 'SENSOR'" />
                                        <input type="text" class="form-control" ng-model="trigger.value" ng-required="trigger.type == 'SENSOR'" />
                                    </div>

                                    <div name="device" ng-show="trigger.type == 'SWITCHRELAIS'">
                                        <select ng-model="trigger.value" ng-options="option for option in switchRelaiValue" ng-required="trigger.type == 'SWITCHRELAIS'" />
                                    </div>

                                    <div name="device" ng-show="trigger.type == 'TIME'">
                                        <input type="text" class="form-control" ng-model="trigger.value" ng-required="trigger.type == 'TIME'" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">


                        <label for="TriggerSelect">Neuer Trigger:</label>
                        <select name="TriggerSelect" id="TriggerSelect"
                                ng-options="option.name for option in newTrigger"
                                ng-model="selectedTrigger"></select>
                        <button type="button" class="btn btn-default btn-lg" ng-disabled="selectedTrigger ==''" ng-click="addTrigger()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                        </button>

                    </div>
                </div>

            </div>

            <div>

                <h3>Actions</h3>
                <div class="panel-group">
                    <div class="panel panel-default" ng-repeat="action in auto.actions track by $index">
                        <div class="panel-heading">
                            <table style="width:100%">
                                <tbody class="ui-widget-content">
                                    <tr>
                                        <td>
                                            <h3 class="panel-title">

                                                {{action.name}}

                                            </h3>
                                        </td>
                                        <td style="text-align:right">
                                            <button type="button" class="btn btn-default btn-md" ng-click="delAction($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="collapseActions" class="panel-collapse collapse in" style="padding: 10px;">
                            <div>
                                <div class="form-group">
                                    <label>Wert:</label>

                                    <div name="device" ng-disabled="action.type != 'SWITCHRELAIS'"  ng-show="action.type == 'SWITCHRELAIS'">
                                        <select ng-model="action.value" ng-options="option for option in switchRelaiValue  track by option" ng-required="action.type == 'SWITCHRELAIS'"  />
                                    </div>

                                    <div name="device" ng-disabled="action.type != 'GROUP'" ng-show="action.type == 'GROUP'">
                                        <select ng-model="action.value" ng-options="option for option in switchRelaiValue track by option" ng-required="action.type == 'GROUP'" />
                                    </div>

                                    <div name="device" ng-disabled="action.type != 'MAIL'"  ng-show="action.type == 'MAIL'">
                                        <select ng-model="action.value" ng-options="option.id as option.name for option in mailTemplates track by option.id" ng-required="action.type == 'MAIL'" > </select>
                                     </div>
                     
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">


                        <label for="ActionSelect">Neue Action:</label>
                        <select name="ActionSelect" id="ActionSelect"
                                ng-options="option.name for option in newActions"
                                ng-model="selectedAction"></select>
                        <button type="button" class="btn btn-default btn-lg"  ng-click="addAction()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                        </button>

                    </div>
                </div>

            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="auto.active"/>Aktiv</label>
            </div>
        
            <button type="submit" class="btn btn-default btn-md" ng-click="save(form.$valid)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Save</button>
            <button type="button" class="btn btn-default btn-md" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>


        </form>
    </div>
</body>
</html>