﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div ng-controller="AutoView">
        <h3>Automatisierung</h3>
        <table class="table">
            <thead class="ui-widget-header">
                <tr><td>Name:</td><td>Actions</td></tr>
            </thead>
            <tbody class="ui-widget-content">
                <tr ng-repeat="auto in autos">
                    <td>
                        <input type="checkbox" ng-change="changeValue(auto)" ng-Model="auto.active" ng-bind="auto.activ"/> {{auto.name}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-md" ng-click="change(auto)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Change</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-default btn-md" ng-click="del(auto.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <button type="button" class="btn btn-default btn-lg" ng-click="add()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
    </div>
</body>
</html>