﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div ng-controller="ControllGroups" name="form" class="container">
       

        <form>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width:100%">
                            <tbody class="ui-widget-content">
                                <tr>
                                    <td>
                                        <h3 class="panel-title">

                                            Groups

                                        </h3>
                                    </td>
                                    <td style="text-align:right">
                                        Filter: <input type="text" ng-model="search">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="collapseGroups" class="panel-collapse collapse in" style="padding: 10px;">
                        <div id="collapseGroups" class="panel-collapse collapse in" style="padding: 10px;">


                            <div class="panel-group" ng-repeat="group in Groups">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <table style="width:100%">
                                                <tbody class="ui-widget-content">
                                                    <tr>
                                                        <td>
                                                            
                                                                {{group.name}}
                                                           
                                                        </td>
                                                        <td style="text-align:right">

                                                            <input bs-switch ng-model="group.value" type="checkbox"
                                                                   type="checkbox"
                                                                   switch-active="true"
                                                                   switch-on-text="ON"
                                                                   switch-off-text="OFF"
                                                                   switch-on-color="primary"
                                                                   switch-animate="true"
                                                                   switch-size="normal"
                                                                   switch-radio-off="true"
                                                                   switch-label-width="auto"
                                                                   switch-handle-width="auto"
                                                                   ng-true-value="'ON'"
                                                                   ng-false-value="'OFF'"
                                                                   switch-inverse="false"
                                                                   ng-change="change(group)">


                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>

                                        </h4>
                                    </div>
                                    <div id="collapseControll{{group.id}}" class="panel-collapse collapse in" style="padding: 10px;">
                                        <table style="width:100%">
                                            <tbody class="ui-widget-content">
                                                <tr ng-repeat="relai in group.devices| filter:search">
                                                    <td>{{relai.name}}</td>
                                                    <td style="text-align:right">{{relai.value}}</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-show="GroupsError" class="alert alert-danger" role="alert">
                    {{GroupsError}}
                </div>
        </form>


    </div>
</body>
</html>