﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div ng-controller="ControllRelais" name="form" class="container">
        <form>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width:100%">
                            <tbody class="ui-widget-content">
                                <tr>
                                    <td>
                                        <h3 class="panel-title">

                                            Relais

                                        </h3>
                                    </td>
                                    <td style="text-align:right">
                                       Filter: <input type="text" ng-model="search">
                                    </td>
</tr>
                                </tbody>
</table>
</div>
                    <div id="collapseRelais" class="panel-collapse collapse in" style="padding: 10px;">
                        <table style="width:100%">
                            <tbody class="ui-widget-content">
                                <tr ng-repeat="relai in Relais | filter:search">
                                    <td>{{relai.name}}</td>
                                    <td style="text-align:right">
                                        <input bs-switch ng-model="relai.value" type="checkbox"
                                               type="checkbox"
                                               switch-active="true"
                                               switch-on-text="ON"
                                               switch-off-text="OFF"
                                               switch-on-color="primary"
                                               switch-animate="true"
                                               switch-size="normal"
                                               switch-radio-off="true"
                                               switch-label-width="auto"
                                               switch-handle-width="auto"
                                               ng-true-value="'ON'"
                                               ng-false-value="'OFF'"
                                               switch-inverse="false"
                                               ng-change="changeSwitch(relai)">
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>


            <div ng-show="RelaisError" class="alert alert-danger" role="alert">
                {{RelaisError}}
            </div>
        </form>


    </div>
</body>
</html>