﻿<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div ng-controller="DevicesConfig">
<h1>Device Konfiguration</h1>

    <div class="panel-group" ng-repeat="configdev in DevicesConfig">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table style="width:100%">
                    <tbody class="ui-widget-content">
                        <tr>
                            <td>
                                <h3 class="panel-title">
                                    {{configdev.name}}
                                </h3>
                            </td>
                            <td style="text-align:right">
                                <button type="button" class="btn btn-default btn-md" ng-click="update(configdev)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Change</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
               
            </div>
            <div id="collapseSensoren" class="panel-collapse collapse in" style="padding: 10px;">
                <table style="width:100%">
                    <tbody class="ui-widget-content">
                        <tr >
                            <td style="width=80%">Typ</td>
                            <td style="text-align:right">{{configdev.type}}</td>
                        </tr>
                        <tr ng-show="configdev.type == 'SENSOR'">
                            <td style="width=80%">Berechnungsformel</td>
                            <td style="text-align:right">{{configdev.calculationFormula}}</td>
                        </tr>
                        <tr ng-show="configdev.type == 'SENSOR'">
                            <td style="width=80%">Einheit</td>
                            <td style="text-align:right">{{configdev.unit}}</td>
                        </tr>
                        <tr>
                            <td style="width=80%">Aktiv</td>
                            <td style="text-align:right">{{configdev.active}}</td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div ng-show="DeviceConfigError" class="alert alert-danger" role="alert">
        {{SensorenError}}
    </div>



</div>
</body>
</html>