﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div ng-controller="EventLog">
        <form name="form">
            <textarea ng-model="data.messages" style="width:100%;height: 80vh;">

            </textarea>

        </form>

    </div>
</body>
</html>