﻿<!DOCTYPE html>
<div>
<head>
    <meta charset="UTF-8">
</head>
    <body>
        <h1>&Uuml;bersicht</h1>
        <div ng-controller="Main">



            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                      
                                Sensoren
                      
                        </h3>
                    </div>
                    <div id="collapseSensoren" class="panel-collapse collapse in" style="padding: 10px;">
                        <table style="width:100%">
                            <tbody class="ui-widget-content">
                                <tr ng-repeat="sensore in Sensoren">
                                    <td style="width=80%">{{sensore.name}}</td>
                                    <td style="text-align:right">{{sensore.value}}&nbsp;{{sensore.unit}}</td>
     
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <div ng-show="SensorError" class="alert alert-danger" role="alert">
                {{SensorenError}}
            </div>



            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">

                            Switches

                        </h3>
                    </div>
                    <div id="collapseSwitches" class="panel-collapse collapse in" style="padding: 10px;">
                        <table style="width:100%">
                            <tbody class="ui-widget-content">
                                <tr ng-repeat="switch in Switches">
                                    <td style="width=80%">{{switch.name}}</td>
                                    <td style="text-align:right">{{switch.value}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <div ng-show="SwitchesError" class="alert alert-danger" role="alert">
                {{SwitchesError}}
            </div>




            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            
                               Relais
                          
                        </h3>
                    </div>
                    <div id="collapseRelais" class="panel-collapse collapse in" style="padding: 10px;">
                        <table style="width:100%">
                            <tbody class="ui-widget-content">
                                <tr ng-repeat="relai in Relais">
                                    <td>{{relai.name}}</td>
                                    <td style="text-align:right">{{relai.value}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>




            <div ng-show="RelaisError" class="alert alert-danger" role="alert">
                {{RelaisError}}
            </div>


            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            
                                Groups
                            
                        </h3>
                    </div>
                    <div id="collapseGroups" class="panel-collapse collapse in" style="padding: 10px;">


                        <div class="panel-group" ng-repeat="group in Groups">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        
                                            <table style="width:100%">
                                                <tbody class="ui-widget-content">
                                                    <tr>
                                                        <td>{{group.name}}</td>
                                                        <td style="text-align:right">{{group.value}}</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        
                                    </h4>
                                </div>
                                <div id="collapse{{group.id}}" class="panel-collapse collapse in" style="padding: 10px;">
                                    <table style="width:100%">
                                        <tbody class="ui-widget-content">
                                            <tr ng-repeat="relai in group.devices">
                                                <td>{{relai.name}}</td>
                                                <td style="text-align:right">{{relai.value}}</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div ng-show="GroupsError" class="alert alert-danger" role="alert">
                {{GroupsError}}
            </div>
        </div>
    </body>
</html>