﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div ng-controller="MailTemplate">
        <h3>Mail Templates</h3>
        <table class="table">
            <thead class="ui-widget-header">
                <tr><td>Name:</td><td>Actions</td></tr>
            </thead>
            <tbody class="ui-widget-content">
                <tr ng-repeat="mail in mailTmp">
                    <td>
                        {{mail.name}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-md" ng-click="change(mail)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Change</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-default btn-md" ng-click="del(mail.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <button type="button" class="btn btn-default btn-lg" ng-click="add()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
    </div>
</body>
</html>