<!DOCTYPE html>
<html>
<head></head>
<body>
<div>
 <h3>Sensoren</h3>



<table class="table" ng-controller="DeviceSettings">
<thead class="ui-widget-header">
    <tr>
      <th>ID</th>
      <th>Controller</th>
      <th>Name</th>
      <th>Typ</th>
    </td>
  </thead>
   <tbody class="ui-widget-content">
  <tr ng-repeat="sensore in sensoren">
    <td>{{sensore.name}}</td>
    <td>{{sensore.wert}}</td>
  </tr>
  </tbody>
</table>
    <p class="errorMsg">{{SensorenError}}</p>
</div>
</body>
</html>