<!DOCTYPE html>
<html>
<head></head>
<body>
<h3>System Settings</h3>

<div ng-include="'partsites/p_ControllerSettings.html'"></div>
<form role="form" ng-controller="Settings" name="form">
  

        <h3>Mail Settings</h3>

    <div class="form-group">
        <label for="from">Absender</label>
        <input type="email" class="form-control" id="from" ng-model="settings.from" maxlength="100"></input>
    </div>

        <div class="form-group">
            <label for="host">SMTP-Host:</label>
            <input type="text" class="form-control" id="host" ng-model="settings.smtpHost" maxlength="100"></input>
        </div>
        <div class="form-group">
            <label for="port">Port:</label>
            <input type="text" class="form-control" id="port" ng-model="settings.port" maxlength="10"></input>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="settings.ssl" />SSL</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="settings.auth" />Authentifikation</label>
        </div>
        <div class="form-group" ng-show="settings.auth">
            <label for="user">User:</label>
            <input type="text" class="form-control" id="userName" ng-model="settings.userName" maxlength="60" ></input>
        </div>
        <div class="form-group" ng-show="settings.auth">
            <label for="password">Passwort:</label>
            <input type="password" class="form-control" id="password" ng-model="settings.password" maxlength="60" ></input>
        </div>
        <button type="submit" class="btn btn-default btn-md" ng-click="saveChanges(form.$valid)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Save Changes</button>

    </form>
</body>
</html>