﻿<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        <form role="form" ng-controller="UpdateDevicesConfig" name="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" ng-model="cur_device.name" maxlength="60" required></input>
            </div>
            <div class="form-group">
                <label for="con">Typ:</label>
                <select ng-model="cur_device.type" ng-options="option for option in options" required>
                    
</select>
               
            </div>
            <div class="form-group"  ng-show="cur_device.type == 'SENSOR'">
                <label for="formel">Berechnungsformel:</label>
                <input type="text" class="form-control" id="formel" maxlength="255" ng-model="cur_device.calculationFormula"/>
            </div>
            <div class="form-group" ng-show="cur_device.type == 'SENSOR'">
                <label for="einheit">Einheit:</label>
                <input type="text" class="form-control" id="einheit" maxlength="10" ng-model="cur_device.unit"/>
            </div>


            <div class="checkbox">
                <label><input type="checkbox" ng-model="cur_device.active"></input>Aktiv</label>
            </div>
            <button type="submit" class="btn btn-default btn-md" ng-click="update(form.$valid)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Change</button>
            <button type="button" class="btn btn-default btn-md" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
        </form>

    </div>
</body>
</html>