 <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">OSS4HomeSmartSystem</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Home</a></li>
                    <li><a >Control</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle">Automation <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Summary</a></li>
                            <li><a href="#">Create</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a  data-toggle="dropdown" class="dropdown-toggle">Settings<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/devicesConfig">Devices</a></li>
                            <li><a >Groups</a></li>
                            <li class="divider"></li>
                            <li><a href="#/SystemSettings">System</a></li>
                            <li class="divider"></li>
                            <li><a >Logs</a></li>
                                      
                            <li class="divider"></li>
                            <li><a href="#/kim">Kim</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

