 <nav id="myNavbar" class="navbar navbar-default" role="navigation" ng-controller="nav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button"  class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">SMKSmartSystem</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a ng-click="action('/')">Home</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle">Control <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a  ng-click="action('/ControllRelais')">Relais</a></li>
                            <li><a  ng-click="action('/ControllGroups')">Groups</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle">Automation <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="action('/AutoView')">Rules</a></li>
                            <li><a ng-click="action('/MailTemplate')">MailTemplates</a></li>
                            <li><a ng-click="action('/EventLog')">EventLog</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a  data-toggle="dropdown" class="dropdown-toggle">Settings<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="action('/DevicesConfig')" >Devices</a></li>
                            <li><a ng-click="action('/GroupsSetting')" >Groups</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="action('/SystemSettings')" >System</a></li>
                           
                            
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

